# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Local cache
.cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/